<nav class="navbar">

  <!-- LEFT -->
  <div class="nav-left">
    <img src="/logo.png" class="logo"alt="logo1img" (click)="goTo('/')">
  </div>

<!-- RIGHT MOBILE CONTROLS -->
  <div class="mobile-controls">

    <!-- Small Login -->
    <button 
      class="login-btn mobile-login"
      *ngIf="!isLoggedIn"
      (click)="openLogin()">
      Login
    </button>

    <!-- Hamburger -->
    <button class="hamburger" (click)="toggleMenu()">
      ☰
    </button>

  </div>


  <!-- CENTER -->
  <ul class="nav-center" [class.open]="menuOpen">

    <li>
      <a (click)="goTo('/'); toggleMenu()">Home</a>
    </li>

    <li>
      <a (click)="scrollToSection('about'); toggleMenu()">About Us</a>
    </li>

    <li>
      <a (click)="scrollToSection('features'); toggleMenu()">Features</a>
    </li>

    <li>
      <a (click)="scrollToSection('plans'); toggleMenu()">Plans</a>
    </li>

  </ul>


  <!-- RIGHT -->
  <div class="nav-right" >

    <!-- Logged In -->
    <ng-container *ngIf="isLoggedIn; else loginBtn">

      <div class="profile">

        <div class="avatar" (click)="toggleDropdown()">
          👤
        </div>

        <div class="dropdown" *ngIf="dropdownOpen">
          <span (click)="goTo('/profile'); toggleMenu()">My Profile</span>
          <span (click)="goTo('/orders'); toggleMenu()">My Orders</span>
          <span class="logout" (click)="logout()">Logout</span>
        </div>

      </div>

    </ng-container>


    <!-- Login -->
    <ng-template #loginBtn>
      <button class="login-btn" (click)="openLogin(); toggleMenu()">
        Login
      </button>
    </ng-template>


    <button class="call-btn" (click)="goTo('/contact')">
    📞 Call Us
    </button>

    <button class="whatsapp-btn" (click)="goTo('/whatsapp')">
    💬 WhatsApp
    </button>

  </div>

</nav>
