<app-header></app-header>


<div class="container-fluid">
    <div class="hero">
        <div class="hero-top">
            <div class="hero-top-right">
                <div class="hero-top-badge">
                    <p>#No.1 Healthy food in Trivandrum</p>
                </div>
                <div class="hero-top-headings">
                    <h3>Wholesome Meals.</h3>
                    <h3>Zero Hassle.</h3>
                    <h3>Delivered Fresh</h3>
                    <h3>Every Day.</h3>
                    <p>✨ Enjoy chef-crafted meals made with love</p>
                </div>
            </div>
            <div class="hero-top-left">
                <div class="hero-top-first">
                    <div class="hero-top-second">
                        <div class="hero-top-cards">
                            <div>
                                <i class="bi bi-clock-fill"></i>
                                <p>30 Min Delivery</p>
                            </div>
                            <div>
                                <i class="bi bi-shield-fill-check"></i>
                                <p>100% Fresh</p>
                            </div>
                            <div>
                                <i class="bi bi-people-fill"></i>
                                <p>100+ Happy Customers</p>
                            </div>
                            <div>
                                <i class="bi bi-star-fill"></i>
                                4.9 Rating
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-bottom">
            <div class="hero-bottom-left">
                <ul>
                    <li>🥦 Balanced for Health & Taste</li>
                    <li>⚡Boosts Energy, Fuels Focus</li>
                </ul>
            </div>
            <div class="hero-bottom-right">
                <ul>
                    <li>👨‍💻 Perfect for Students & Professionals</li>
                    <li>📆 Easy Scheduling </li>
                </ul>
            </div>
        </div>
        <button>ORDER YOUR MEAL NOW</button>
    </div>

    <div class="why">
        <div class="why-headings">
            <h3>WHY CHOOSE PROTMEALS</h3>
            <P>Just like home,ProtMeals ensures your food is balanced, fresh, and always on time.</P>
        </div>
        <div class="why-cards"></div>
    </div>
</div>


<app-footer></app-footer>