<div class="container-fluid footer">
    <div class="top">
        <div class="left">
            <img src="/logo.png" alt="Protmeals Logo" />
            <p>Stay Connected</p>
            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter-x"></i>
            </div>
        </div>
        <div class="center-right-wrapper">
            <div class="center">
                <h4>Quick Links</h4>
                <ul>
                    <li (click)="goTo('/')">Home</li>
                    <li (click)="goTo('#about')">About</li>
                    <li>Service</li>
                    <li>Cancellation Policy</li>
                    <li (click)="goTo('/privacy-policy')">Privacy Policy</li>
                    <li (click)="goTo('/terms-and-conditions')">Terms and Conditions</li>
                    <li>Join as our partner</li>
                </ul>
            </div>
            <div class="right">
                <h4>Features</h4>
                <ul>
                    <li>Great offers</li>
                    <li>Trusted Partners</li>
                    <li>Quality Service</li>
                    <li>Best Food</li>
                    <li>Eco-Friendly</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
            <p>© 2025 PROTMEALS. All rights reserved</p>
        </div>
        <div class="right">
            <div class="icon">
                <p>✉</p>
            </div>
            <div class="details">
                <p>Your Street Address, Street Cross Road, State, Country</p>
                <p>+XX 0000 000 000 | office&#64;protmeals.com</p>
            </div>
        </div>
    </div>
</div>