<footer class="footer">

  <!-- ================= TOP ================= -->
  <div class="footer-top">

    <!-- LEFT : BRAND -->
    <div class="footer-col brand">
      <img src="/logo.png" class="logo" />

      <p class="desc">
        Enjoy your delicious food. Flexible meal plans for your busy lifestyle.
      </p>

      <div class="socials">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-youtube"></i>
      </div>
    </div>


    <!-- QUICK LINKS -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li (click)="goTo('/')">Home</li>
        <li (click)="goTo('#about')">About Us</li>
        <li>Features</li>
        <li>Plans</li>
        <li (click)="goTo('/contact')">Contact Us</li>
      </ul>
    </div>


    <!-- SUPPORT -->
    <div class="footer-col">
      <h4>Support</h4>
      <ul>
        <li (click)="goTo('/privacy-policy')">Privacy Policy</li>
        <li (click)="goTo('/terms-and-conditions')">Terms & Conditions</li>
        <li>Refund Policy</li>
        <li>Shipping Policy</li>
      </ul>
    </div>


    <!-- CONTACT -->
    <div class="footer-col contact">
      <h4>Contact Us</h4>

      <p><i class="bi bi-geo-alt"></i> TVM, Kerala</p>
      <p><i class="bi bi-telephone"></i> +91 79076 56168</p>
      <p><i class="bi bi-envelope"></i> office&#64;protmeals.com</p>
    </div>

  </div>


  <!-- ================= BOTTOM ================= -->
  <div class="footer-bottom">

    <p class="copy">
      © 2025 PROTMEALS. All rights reserved
    </p>

    <div class="subscribe">
      <input type="email" placeholder="Enter your email" />
      <button>Subscribe</button>
    </div>

  </div>

</footer>
