<div class="popup-container">
    <button class="close-btn" (click)="closePopup()">×</button>

    <div class="popup-headings">
        <h3 *ngIf="isLogin">Already a customer?</h3>
        <h3 *ngIf="!isLogin">Create an account</h3>
        <p *ngIf="isLogin">Welcome back! Sign in for faster checkout.</p>
        <p *ngIf="!isLogin">Please fill out the form to create an account.</p>
    </div>

    <form *ngIf="isLogin" [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="otp-form">
        <div class="input-group email-input">
            <span class="input-icon"><i class="bi bi-envelope text-danger"></i></span>
            <input formControlName="email" type="email" placeholder="Enter your email" required />
        </div>

        <button type="button" class="send-otp-btn" (click)="sendOtp()" *ngIf="!isOtpSent">
            Send OTP
        </button>

        <div class="otp-inputs" *ngIf="isOtpSent">
            <input maxlength="1" *ngFor="let control of otpArray.controls; let i = index" [formControl]="control"
                (input)="onOtpInput($event, i)" (keydown)="onOtpKeydown($event, i)" #otpInput />
        </div>

        <button type="submit" class="send-otp-btn" *ngIf="isOtpSent">
            Verify OTP
        </button>

        <p class="resend-text" *ngIf="isOtpSent">
            <ng-container *ngIf="counter > 0">
                Resend OTP in <span [style.color]="counter === 0 ? '#C1282D' : '#555'">{{ countdownDisplay }}</span>
            </ng-container>
            <ng-container *ngIf="counter === 0">
                <button type="button" class="resend-otp-btn" (click)="resendOtp()">Resend OTP</button>
            </ng-container>
        </p>

    </form>

    <form *ngIf="!isLogin" [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()" class="otp-form signup-form">
        <input formControlName="firstName" type="text" placeholder="First Name" />
        <input formControlName="lastName" type="text" placeholder="Last Name" />
        <input formControlName="phone" type="text" placeholder="Phone Number" />
        <input formControlName="email" type="email" placeholder="Email Address" />
        <input formControlName="region" type="text" placeholder="Region" />
        <textarea formControlName="address" placeholder="Address"></textarea>

        <button type="submit" class="send-otp-btn">Sign Up</button>
    </form>

    <p class="signup-text" (click)="toggleForm()">
        {{ isLogin ? 'Not a user? Sign Up' : 'Already have an account? Login' }}
    </p>

</div>