<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="p-5">ORDERS</h2>
        <!-- <button class="btn custom-btn" (click)="openModal(content)">Create Order</button> -->
    </div>

    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center my-4">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoading && orderList.length === 0" class="text-center text-muted my-5">
        <i class="bi bi-box fs-1 mb-3 d-block"></i>
        <p class="fs-5">No orders found.</p>
    </div>

    <div class="table-responsive" *ngIf="!isLoading && orderList.length > 0">
        <table class="table custom-table align-middle text-center table-hover">
            <thead class="table-light">
                <tr>
                    <!-- <th>Order ID</th> -->
                    <th>Meals</th>
                    <th>Weekdays</th>
                    <th>Meal Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderList">
                    <!-- <td>{{ order.order_id }}</td> -->

                    <td>{{ getMeals(order.preferences) }}</td>

                    <td>
                        {{ getWeekdays(order.preferences) }}
                    </td>

                    <td>{{ order.meal_type.name }}</td>

                    <td>{{ order.start_date | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ order.end_date | date: 'dd-MM-yyyy' }}</td>

                    <td>
                        <span class="badge px-3 py-2"
                            [ngClass]="order.status === 'completed' ? 'bg-success-subtle text-success' : 'bg-secondary-subtle text-secondary'">
                            {{ order.status }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination class="d-flex justify-content-center mt-3 custom-pagination" [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" previousText="‹" nextText="›" [boundaryLinks]="true"
            (pageChanged)="onPageChange($event)">
        </pagination>
    </div>

</div>