html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* ⭐ prevents side gap forever */
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* ⭐ Angular root fix (VERY IMPORTANT) */
app-root{
  display:block;
  width:100%;
}

router-outlet{
  display:block;
  width:100%;
}
